@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Karla:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Overpass&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Karla:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Overpass&family=Poppins:wght@300;400&family=Roboto&display=swap');

:root {
  --color-active: #1D2B4F;
  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --card-padding: 1rem;
}

body {
  font-family: 'poppins', sans-serif;
  color: var(--color-dark);
  overflow-x: hidden;
  margin: 0 auto;
}

main {
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 15% auto 26%;
  margin: 0 auto;
  width: 100%;
  gap: 1rem;
  background: linear-gradient(rgb(229, 242, 252), rgb(235, 244, 249), rgb(221, 233, 243));

}

h3{
  font-size: 16px;
  color: var(--color-white);
  font-weight: 400;
}
small{
  font-size: 0.75rem;
}
.profile-photo{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.subtitle{
  color: var(--color-subtitle); 
}
/* ====== STYLING THE LEFT SECTION====== */
aside {
  height: 100vh;
  background-color: #40A3F8;
  position: sticky;
  top: 0px;
  padding-top: 20px;
  z-index: 3;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
aside .close{
  display: none;
}

.color-primary{
  color: var(--color-primary);
}

/* STYLING THE SIDE BAR */
aside .sidebar{
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 2rem;
}
aside .sidebar span img{
  width: 20px;
  height: 20px;
}
aside .side_bro span img{
  width: 20px;
  height: 20px;
}
.anchor{
  display: flex;
  margin-left: 1.5rem;
  gap: 1.5rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .side_bro{
  position: absolute;
  bottom: 2%;
  flex-direction: column;
  display: flex;
  width: 100%;
}

aside .sidebar a.active{
  background-color: var(--color-active);
  color: var(--color-white);
  margin-left: 0;
  
}


aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(2rem - 5px);
}

.anchor.active::before {
  content: "";
  display: block;
  height: 100%;
  width: 0.2rem;
  position: absolute;
  background-color: var(--color-white);
}

.anchor:hover{
  color: var(--color-primary);
  background-color: var(--color-active);
  margin-left: 0;
  
}
.anchor:hover span{
  margin-left: 1rem;
}
.anchor span{
  transition: all 300ms ease;
}


/* END OF LEFT */


/* MIDDLE SECTION BEGINS HERE */


/* WELCOME SECTION */


.board{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: var(--color-white);
  position: relative;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--color-primary);
  width: 100%;
  height: 230px;
}


.btn-tertiary{
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  background-color: var(--color-tertiary);
  color: white;
}


.character{
  position: absolute;
  right: 10px;
  top: 0px;
}
.character img{
  width: 100%;
  height: 100%;
}
.inter_info{
  display: flex;
  width: 100%;
  max-height: 70px;
  margin: auto;
}
.inter_info img{
  width: 80%;

}
.blk{
  display: grid;
  grid-template-columns: 1fr auto;
}
.nxtp-bkg{
  background-color: var(--color-light);
  margin: auto;
}
/* CARDS SECTION */
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  gap: 1.2rem;
}

.cards > div{
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  transition: all 300ms ease;
  padding: var(--card-padding);

}

.cards > div:hover{
  box-shadow: var(--box-shadow);
}

.upsect{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.flx{
  display: flex;
  justify-content: space-between;

}
.inter{
  display: grid;
  width: 40%;
}

.grd{
  display: grid;
  grid-template-columns: 20% 80%;
}
.patients-data{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  

}
.next_patients{
  width: 100%;
  background-color: var(--color-light);
  border-radius: var(--border-radius);

  
}

.patients-data .details{
  background-color: var(--color-white);
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 5px;

}
.calm{
  margin: 1rem auto;
}

.right_updates{
  margin-right: 10px;

}
.right_updates img{
  width: 100%;
}

.appnt{
  padding: 2rem auto;
}
.appnt img{
  width: 100%;
}

.right {
  margin-top: 3rem;
  width: 95%;

}
.right_updates{
  margin-top: 2rem;
}
.bar{
  width: 60%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--color-primary);
}
.right .top{
  display: flex;
  justify-content: end;
  background: var(--color-white);
}
  
.top button{
  display: none;
  align-items: center;
}

.profile{
  display: flex;
  gap: 2rem;
  text-align: right;
  margin-right: 0.6rem;

}

.right_updates > div{
  box-shadow: var(--box-shadow);

}
.right_updates > div:hover{
  transition: all 300ms ease; 
}
.right .top{
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  padding: 0 0.8rem;
  height: 3.6rem;
  background-color: var(--color-white);
  margin: 0;
  z-index: 0;
  width: 87.4%;
}

/* 
MEDIA QUERIES FOR TABS AND SMALL LAPTOPS*/
@media screen and (max-width: 1200px) {
  .container{
    width: 100%; 
    grid-template-columns: 10% 60% 24%;
    
  }
  .container2{
    width: 100%; 
    grid-template-columns: 10% 60% 24%;
    
  }
  
  .right .top{
    width: 100%;
  }

  aside .logo h3{
    display: none;
  }
  
  aside .sidebar h3{
    display: none;
  }
  aside .side_bro h3{
    display: none;
  }
  .side_bro{
    position: relative;
    margin-top: 1.5rem;
  }

  aside .sidebar a{
    width: 4.6rem;
  }

  .midle-sect{
    grid-template-columns: 1fr;
    margin: 2rem auto;
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    
  }
  .right_updates{
    margin-right: 2px;
  
  }
  .right_updates img{
    width: 100%;
  }

  h1{
    font-size: 1.5rem;
  }
  p{
    font-size: 0.8rem;
  }
  .font4{
    font-size: 0.9rem;
  }
  .next_patients{
    width: 93%;
    position: absolute;
  }
  .character{
    position: absolute;
    opacity: 0.1;
  }
  .character2{
    position: absolute;
    opacity: 0.1;
  }
  .calm{
    width: 75vw;
  }
  .frame{
    width: 100%
  }
  .right {
    margin-top: 3rem;
    width: 100%;
  
  }
}

/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 716px){
  .container{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .container2{
    width: 100%;
    grid-template-columns: 1fr;
  }
  
  aside{
    position: fixed;
    left: -100%;
    width: 50%;
    z-index: 3;
    height: 100vh;
    padding: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }
  @keyframes showMenu{
    to {
      left: 0;
    }
  }
  h1{
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  .btn-tertiary {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.5;
    background-color: var(--color-tertiary);
    color: white;
    gap: 20px;
  }
  .font4{
    font-size: 12px;
  }
  
  .character{
    display: none;
  }
  
  aside .sidebar h3{
    display: inline;
  }
  aside .side_bro h3{
    display: inline;
  }
  h3{
    font-size: 12px;
  }
  aside .logo{
    margin-left: 1rem;
  }
  aside .sidebar a{
    width: 100%;
    height:  3.4rem;
  }
  aside .side_bro a{
    width: 100%;
    height:  3.4rem;
  }

  aside .side_bro {
    position: absolute;
    bottom: 3rem;
  }

  aside .close{
    display: inline-block;
    cursor: pointer;
  }
  main{
    margin-top: 8rem;
    padding: 0 1rem;
  }

  main .next_patients{
    position: relative;
    margin: 3rem auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    gap: 20px;
  }
  .calm{
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 2px;
  }
  
 .right{
   width: 94%;
   margin: 0 auto 4rem;
 }
 .right .top{
   position: fixed;
   top: 0;
   left: 0;
   align-items: center;
   padding: 0 0.8rem;
   height: 3.6rem;
   background-color: var(--color-primary);
   margin: 0;
   z-index: 2;
   width: 100%;
 }

 .right .top button{
   display: inline-block;
   background: transparent;
   cursor: pointer;
   position: absolute;
   left: 1rem;
   border-radius: 2px;
   border: 0.2px solid white;
 }

 .right_updates{
   display: block;
 }
}