*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-white: #ffffff;
  --color-light: hsl(252, 30%, 95%);
  --color-checker: #90D9FD;
  --color-primary: #40A3F8;
  --color-secondary: #9FD1FB;
  --color-tertiary: #F6F8F8;
  --color-black: hsl(252, 30%, 10%);
  --color-dark: hsl(252, 30%, 17%);
  --color-muted: #B7BBBC;
  --color-search: #D7E8EF;
  --color-cal: rgb(243, 235, 216);
  --color-phone: rgb(209, 235, 249);
  --color-sub: #3D3D3FB2;
  --color-cars: #DBE8EE;
  --color-subtitle: #8692A6;
  --color-tertiary: #53acf9;
  --color-main:  #1D2B4F;


  
  --card-border-radius: 2rem;
  --btn-padding: 0.6rem 2rem;
  --border-radius: 2rem;
  --card-padding: 1rem;
  
  --box-shadow: 0 2rem 3rem var(--color-cars);
}

body {
  font-family: 'poppins', sans-serif;
  color: var(--color-dark);
  overflow-x: hidden;
  margin: 0 auto;
  width: 100vw;
  user-select: none;
  overflow-x: hidden;

}

/* FONT SIZES AND WEIGHTS */

.sm_font { font-size: 0.375rem;}

.md_font {
  font-size: 0.6875rem;
}

.md_font1 {
  font-size: 0.75rem;
}
.fntwt-6{
font-weight: 600;
}
.fntwt-7{
font-weight: 700;
}
.md-font2 {
  font-size: 0.875rem;
}

.font3 {
  font-size: 1rem;
}

.font4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.font5 {
  font-size: 1.25rem;
  font-size: 400;
  font-weight: 500;
  color: #3D3D3F;
}

.head-text {
  font-size: 2.625rem;
  font-weight: 500;
  color: #3D3D3F;
}

.head-text2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}

.head-text3{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark);
}

.pops {
  font-size: 1rem;
  color: #454D5D;
}

.roboto {
  font-size: 16px;
  color: #454D5D;
  font-family: roboto;
  font-weight: 305;
  padding-top: 20px;
  line-height: 25px;
  
}

.header {
  font-size: 3rem;
  font-weight: 600;
}
.pps-Fam{
  font-family: 'poppins';
}

.mont-Fam{
  font-family: 'montserrat';
}

.rob-Fam{
  font-family: 'Roboto'
}

/* GRID SPANS */
.span1cl {
  grid-column: span 1;
}

.span2cl {
  grid-column: span 2;
}

.span3cl {
  grid-column: span 3;
}

.span4cl {
  grid-column: span 4;
}

.span5cl {
  grid-column: span 5;
}

.span6cl {
  grid-column: span 6;
}
.span7cl {grid-column: span 7;}
.span8cl {
  grid-column: span 8;
}

.span9cl {
  grid-column: span 9;
}

.span10cl {
  grid-column: span 10;
}

.span11cl {
  grid-column: span 11;
}

.span12cl {
  grid-column: span 12;
}

.sntrlze {
  width: 85%;
  margin: 0 auto;
}

.hd-Img {
  /* position: absolute;
  right: -12%;
  overflow: hidden; */
}



.muted-text {
  color: var(--color-muted);
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-text {
  color: var(--color-sub);
}

.main {
  color: var(--color-main);
}
.fiftyprc{
  height: 50%;
}
/* .hd-Img{
  text-align: center;
  align-self: center;
} */
.btn {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  color: var(--color-white);
}

/* .relate{
  position: relative;
} */
.search-dspl {
  background-color: var(--color-search);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 12px;
  
}

.calend-dspl {
  background-color: var(--color-cal);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 12px;
}

.phn-dspl {
  background-color: var(--color-phone);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  padding-top: 12px;
}

.search-dspl img {
  margin: auto;
  padding: auto;
}

.algnGs {
  align-items: center;
}

.btn:hover {
  opacity: 0.8;
}

.daughter {
  position: absolute;
  top: -110px;
  right: 10px;
}

.btn-primary {
  background: var(--color-primary);
}

.btn-secondary {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9rem;
  color: var(--color-primary);
  background: var(--color-white);
}

.colSm {
  color: var(--color-secondary);
}

.navlinks {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.navbar-link {
  color: var(--color-dark);
}

.father {
  position: relative;
}

.abs {
  position: absolute;
  right: 30px;
  top: -20px;
}

.navbar-item {
  color: var(--color-dark);
}

.actv-link {
  color: var(--color-primary);
}




.set_pg {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.set_pg2 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
}

.set_pg3 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

nav {
  margin-top: 10px;
}

.center-t {
  align-items: center;
  text-align: center;
}

.hd-Sect {
  height: 100%;
  padding-top: 20px;
  background: linear-gradient(rgb(229, 242, 252), rgb(235, 244, 249), rgb(221, 233, 243));

}

.cta_Section {
  color: var(--color-dark);
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 20px;
}

.serv-Sect {
  background: linear-gradient(rgb(249, 253, 253),
      rgb(250, 253, 252), rgb(249, 253, 253), rgb(234, 255, 255), rgb(249, 253, 253));
}

.pr-cl {
  color: var(--color-primary);
}
.fstPrt{
  line-height: 50px;
}


.mrg-top {
  margin-top: 40px;
}

.mrg-bot {
  margin-bottom: 60px;
}
.lst span{
  display: inline-block;
  justify-content: space-between;
  margin-right: 1.125rem;
  margin-top: 0.625rem;
}
.pd {
  padding: 1.5625rem;
}

.pd-bot {
  padding-bottom: 2.5rem;
}

.ln-hght {
  line-height: 2.5rem;
}

.pd-top {
  padding-top: 2.5rem;
}

.pd-left {
  padding-left: 2.5rem;
}

.pd-right {
  padding-right: 2.5rem;
}

.specialis {
  background-color: var(--color-white);
  border-radius: 0.625rem;
  padding: 2rem;
  border-bottom: 1.25rem solid var(--color-white);

}
.push{
  position: relative;
  top: -30px;
}

.close{
  display: none;
}
.menu-bttn{
  display: none;
}

.twoDiv-Algn {
  justify-content: center;
  align-items: center;
}

.ft-sect input{
  padding: 1.25rem;
  background-color: var(--color-light);
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  border-radius: 10px;
  margin: 1rem 0;
}
.ft-sect button{
  border: none;
  padding: auto 2.7rem;
  width: 90%;
  margin-bottom: 1rem;
}

/* .complx:nth-child(1){
  position: absolute;
  top: 30px;
  display: none;
} */
.g-grid {
  gap: 2rem;
}
.g-grid2{
  gap: 1rem;
}

.bottom-active {
  background-color: var(--color-white);
  border-radius: 10px;
  border-bottom: 20px solid var(--color-secondary);
}

.bottom:hover{
  border-bottom: 20px solid var(--color-secondary);;
}
.second-Section {
  padding-top: 5rem;
}

.carousel-1 {
  background-color: var(--color-checker);
  width: 4rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.inactive-crsl {
  background-color: var(--color-cars);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.carousels {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.onlDctrs {
  background: #F6F9F8;
  border-radius: 20px;
}

.photo {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
}

.social-icons {
  display: inline-block;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.social-icons span {
  padding: 2px;
}

.photo {
  height: 50%;
  width: 95%;
  background-size: cover;
  background-position: left;
  border-radius: 20px;
  padding: 10px;

}


.left {
  width: 100%;
  height: 100%;
  position: relative;
  top: -10px;
  left: -130px;
}

.footer {
  color: var(--color-dark);
}

.f-bckgd {
  background-color: var(--color-white);
  padding: 20px;
}
.footer {
  height: 341px;
}

.bkgrnd {
  background-image: url(/img/Rectangle\ 1.svg);
  background-repeat: no repeat;
  background-size: cover;
  height: 341px;
  border-radius: 20px;
  width: 100%;
}




  @media only screen and (min-width: 1800px) {
  
    
    .sm_font { font-size: 1.375rem;}

    .md_font {
      font-size: 1.6875rem;
    }
    
    .md_font1 {
      font-size: 1.75rem;
    }
    .fntwt-6{
    font-weight: 600;
    }
    .fntwt-7{
    font-weight: 700;
    }
    .md-font2 {
      font-size: 1.875rem;
    }
    
    .phn-mrg{
      margin: 40px;
    }
    .phn-pd{
      padding: 16px;
    }
    .font3 {
      font-size: 2rem;
    }
    
    .font4 {
      font-size: 2.2rem;
      font-weight: 500;
    }
    
    .font5 {
      font-size: 2.25rem;
      font-size: 400;
      font-weight: 500;
      color: #3D3D3F;
    }
    
    .head-text {
      font-size: 3.625rem;
      font-weight: 500;
      color: #3D3D3F;
    }
    
    .head-text2 {
      font-size: 3.5rem;
      font-weight: 600;
      color: #ffffff;
    }
    
    .head-text3{
      font-size: 2.2rem;
      font-weight: 600;
      color: var(--color-dark);
    }
    
    .pops {
      font-size: 2rem;
      color: #454D5D;
    }
    
    .roboto {
      font-size: 32px;
      color: #454D5D;
      font-family: roboto;
      font-weight: 305;
      padding-top: 20px;
      line-height: 25px;
      
    }
    
    .header {
      font-size: 4rem;
      font-weight: 600;
    }
  }

  /* MEDIA QUERIES FOR TABS AND SMALL LAPTOPS*/ 
@media screen and (max-width: 1200px) {
  .set_pg{
    width: 100%; 
    grid-template-columns: repeat(12, 1fr);
    
  }
  .set_pg2{
    width: 100%; 
    grid-template-columns: repeat(12, 1fr);
    
  }
  .tbDoc{
    width: 90%;
    display: block;
  
  }
  .tbDoc img{
    width: 100%;
  }
  
  .set-md-pg{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .set-pg-md12{
    grid-column: span 12;
  }

  .set-pg-md06{
    grid-column: span 6;
  }

  .set-pg-md09{
    grid-column: span 9;
  }
  .set-md-pg05{
    grid-column: span 5;
  }
  .md-mrg-auto{
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .overfl{
    overflow: hidden;
    width: 100%;
    margin-left: 140px;
    
  }
  .md-grd{
   display: block;
   margin: auto;
  }
  .md-flx{
    display: flex;
    justify-content: space-between;
  }
  

  .set-pg-md03{
    grid-column: span 3;
  }
  .md-cent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1.25rem;
  }
  .md-btn{
    text-align: center;
    width: 100%;
  }
  .md-gap{
    line-height: 2.75rem;
    margin: 12%;
  }
  .left-nav{
    display: none;
  } 
  .rght-nav{
    display: none;
  }
  .daughter img{
    display: none;
  }
  
  .hd-Sect{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .imgs img{
  width: 20px;
  height: 20px;
  }
  
}

  @media only screen and (max-width: 908px){
    .dsc-sect h1{
        font-size: 2.5rem;
    }
    .dsc-sect{
      position: absolute;
      left: 15%;
    }
    .hd-Img{
      display: none;
    }
  
    .hd-Sect{
      overflow-x: hidden;
    }
    .logocont h1{
      font-size: 1.4rem;
    }
    
    .navbar-item a{
      color: var(--color-primary);
    }
    .navbar-item .btn{
      padding: 12px;
  
    }
    .navbar-item{
      margin: 1rem auto;
      /* background: var(--color-light); */
    }
    .row{
        flex-direction: column;
    }
    .navlinks .navbar-list{
      display: block;
  }
  .navbar-list
  {
      position: absolute;
      background: var(--color-phone);
      height: 26rem;
      width: 150px;
      top: 0;
      right: -200px;
      text-align: left;
      display: block;
      z-index: 2;
      color: var(--color-primary); 
      padding: 20px;
      margin-left: 15rem;
      transition: 1s ease;
      border-radius: 10px;

  }
  .navbar-item a{
    color: var(--color-primary);
  }
  .navbar-item .btn{
    padding: 12px;
    color: white;

  }
  .navbar-item{
    margin: 1rem auto;
  }
  .close{
    display: block;
    cursor: pointer;
    margin: 10px;
  }
  .menu-bttn{
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0.4px solid var(--color-primary);
    border-radius: 4px;
  }
    
  }
  
@media screen and (max-width: 789px){
 

  .set-md-pg{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .set-pg-md12{
    grid-column: span 12;
  }

  .set-pg-md06{
    grid-column: span 6;
  }
  .set-md-pg05{
    grid-column: span 5;
  }
  .md-mrg-auto{
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .overfl{
    overflow: hidden;
    width: 100%;
    margin-left: 140px;
  }
  .md-flx{
    display: flex;
    justify-content: space-between;
  }
 
  .set-pg-md03{
    grid-column: span 3;
  }
  .md-cent{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 1.25rem;
  }
  .md-btn{
    text-align: center;
    width: 100%;
  }
  .md-gap{
    line-height: 2.75rem;
    margin: 12%;
  }
  .left-nav{
    display: none;
  } 
  .rght-nav{
    display: none;
  }
  .daughter img{
    display: none;
  }
  
}



@media screen and (max-width: 440px){
  .set_pg{
    display: block;
    margin: auto;
    overflow-x: hidden;
  }
  .set_pg2{
    display: block;
    margin: auto;
  }
  .set_pg3{
    display: block;
    margin: auto;
  }
  .hd-Sect{
    overflow-x: hidden;
  } 
  .head-text {
    font-size: 1.625rem;
    font-weight: 500;
    color: #3D3D3F;
  }
  
  .head-text2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .head-text3{
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-dark);
  }
  .set-Mds{
    display: flex;
  }
  .ft-icons{
    display: block;
  }
  .md-foot{
    display: flex;
    justify-content: space-between;
  }
  .red-size{
    width: 100% !important;
    display: none;
  }
  .md-mrg{
    margin-top: 20px;
  }
  .sm_font { font-size: 0.375rem;}

  .md_font {
      font-size: 0.685rem;
    }
    
    .md_font1 {
      font-size: 0.65rem;
    }
    .fntwt-6{
    font-weight: 400;
    }
    .fntwt-7{
    font-weight: 500;
    }
    .md-font2 {
      font-size: 0.575rem;
    }
    
    .font3 {
      font-size: 0.6rem;
    }
    
    .font4 {
      font-size: 1.2rem;
      font-weight: 500;
    }
    
    .font5 {
      font-size: 0.85rem;
      font-size: 400;
      font-weight: 500;
      color: #3D3D3F;
    }
    .phn-fnt{
      font-size: 0.7rem;
      line-height: 12px;
    }
    .head-text {
      font-size: 1.225rem;
      font-weight: 500;
      color: #3D3D3F;
    }
    .mrg-md{
     margin-bottom: 12px;
     padding-bottom: 20px;
     padding-top: 20px;
    }
    .mrg-mdtp{
      margin-top: 40px;
    }
    .cnt-md{
      text-align: center;
    }
    .md-ds{
     width: 80%;
     overflow: hidden;
     margin: auto;
    }
    .muted-text{
      font-size: 0.7rem;
      line-height: 15px;
      margin: auto;
    }
    .span4cl{
      margin-bottom: 10px;
    }
    .head-text2 {
      font-size: 1.8rem;
      font-weight: 600;
      color: #ffffff;
      line-height: normal;
    }
    
    .head-text3{
      font-size: 2.2rem;
      font-weight: 600;
      color: var(--color-dark);
    }
    
    .pops {
      font-size: 2rem;
      color: #454D5D;
    }
    
    .roboto {
      font-size: 12px;
      color: #454D5D;
      font-family: roboto;
      font-weight: 305;
      padding-top: 20px;
      line-height: normal;
      
    }
    
    .header {
      font-size: 2.0rem;
      font-weight: 600;
      line-height: 2.5rem;
      margin-bottom: 14px;
    }
    .btn-primary {
      background: var(--color-primary);
    }
    
    .btn-secondary {
      display: inline-block;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 300ms ease;
      font-size: 0.4rem;
      color: var(--color-primary);
      background: var(--color-white);
    }
    .btn {
      display: inline-block;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 300ms ease;
      font-size: 0.6rem;
      color: var(--color-white);
      margin-top: 14px;
    }
    .btn img{
      display: none;
    }
    .md_font1{
      margin: auto;
      width: 60%;
    }
    .head-text {
      line-height: 2rem;
    }
    .md-cent {
      margin-top: 14px;
    }
    .phn-fnt{
      position: relative;
      bottom: 30px;
      left: 30px;
    }
    .muted-text{
      margin-top: 14px;
      text-align: center;
    }
    .md-btn{
      text-align: center;
      margin: auto;
    }
    .cnt-md{
      display: flex;
      justify-content: space-evenly;
      gap: 5px;
    }
    .head-text2{
      font-size: 1.5rem;
      margin: auto;
    }
    .fl-foot{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .md-sps{
      margin-top: 30px;
    }
  
}

/* 


/* MEDIA QUERIES FOR MOBILE */

@media screen and (max-width: 716px){
  .set_pg{
    display: block;
    margin: auto;

  }
  .setpg2{
    display: block;
    margin: auto;
  }
  .setpg2{
    display: block;
    margin: auto;
  }
  .left-nav{
    display: none;
  }
  .clients-info{
    width: 90%;
    position: relative;
    left: -40px;
  }
  
  @keyframes showMenu{
    to {
      left: 0;
    }
  }
  h1{
    font-size: 20px;
  }
  p{
    font-size: 14px;
  }
  .btn-tertiary {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.5;
    background-color: var(--color-tertiary);
    color: white;
    gap: 20px;
  }
  .font4{
    font-size: 12px;
  }
  
  .ft-cat{
    display: none;
  }
  
  .ft-abt{
    display: none;
  } 
  .btn-primary {
    background: var(--color-primary);
  }
  
  .btn-secondary {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.4rem;
    color: var(--color-primary);
    background: var(--color-white);
  }
  .btn {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.6rem;
    color: var(--color-white);
    margin-top: 14px;
  }
  .btn img{
    display: none;
  }
  .md_font1{
    margin: auto;
    width: 60%;
  }
  .head-text {
    line-height: 2rem;
  }
  .md-cent {
    margin-top: 14px;
  }
  .phn-fnt{
    position: relative;
    bottom: 30px;
    left: 30px;
  }
  .muted-text{
    margin-top: 14px;
    text-align: center;
  }
  .md-btn{
    text-align: center;
    margin: auto;
  }
  .cnt-md{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  }
  .head-text2{
    font-size: 1.5rem;
    margin: auto;
  }
  .fl-foot{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .md-sps{
    margin-top: 30px;
  }
 
}